spring.application.name=finant-api

spring.datasource.url=jdbc:postgresql://HOST:5432/postgres
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

server.port=8080

jwt.secret=CLAVE_SECRETA_MINIMO_32_CARACTERES
jwt.expiration=86400000

spring.mail.host=smtp-relay.brevo.com
spring.mail.port=587
spring.mail.username=TU_USUARIO_BREVO
spring.mail.password=TU_PASSWORD_BREVO
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
spring.mail.properties.mail.smtp.ssl.trust=smtp-relay.brevo.com
spring.mail.properties.mail.smtp.ssl.checkserveridentity=false
spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=5000
spring.mail.properties.mail.smtp.writetimeout=5000

app.mail.from=TU_EMAIL
app.mail.from-name=FinAnt
app.frontend.url=http://localhost:5173
app.reset.token.expiration=30